{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>knyg.ht</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans%7CInconsolata:400,700" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'normalise.css' %}" rel="stylesheet">
        <link href="{% static 'main.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav id="main-nav">
            <ul>
                <li class="folder">
                    <input type="checkbox" id="nav-knyght" checked>
                    <span></span>
                    <label for="nav-knyght">knyg.ht</label>
                    <ul>
                        <li><a href="/"><span class="fa fa-home"></span> Home</a></li>
                        <li class="folder">
                            <input type="checkbox" id="nav-portfolio">
                            <span></span>
                            <label for="nav-portfolio">Portfolio</label>
                            <ul>
                                <li><a href="/"><span class="fa fa-globe"></span> Web</a></li>
                                <li><a href="/"><span class="fa fa-file-text-o"></span> Other</a></li>
                            </ul>
                        </li>
                        <li><a href=""><span class="fa fa-envelope"></span> Contact</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section id="content">
            <header>
                <p>=========</p>
                <h1>knyg.ht</h1>
                <p>=========</p>
            </header>
            <p>&nbsp;</p>
            <p>test().</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <header>
                <p>------</p>
                <h2>Test</h2>
                <p>------</p>
            </header>
            <p>&nbsp;</p>
            <header>
                <h3>Test</h3>
                <p>====</p>
            </header>
            <p>&nbsp;</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <a href="#">nulla pariatur</a>. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>This line is be exactly 80 characters long. No more, no less. Precision, indeed.</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>test().</p>
            <p>&nbsp;</p>
        </section>
        <footer>&copy; Tom Carrick 2014</footer>
    </body>
</html>
