{% load compressed mptt_tags %}
<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>{% block title %}knyg.ht{% endblock %}</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans%7CInconsolata:400,700" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        {% compressed_css 'main' %}
    </head>
    <body>
        <nav id="main-nav">
            <ul>
                {% recursetree nodes %}
                    {% if not node.is_leaf_node %}
                        <li class="folder">
                            <input type="checkbox" id="nav-{{ node.slug }}" {% if not node.parent %}checked{% endif %}>
                            <label for="nav-{{ node.slug }}"><span class="{{ node.icon }}"></span> {{ node.title }}</label>
                            <ul>
                                {{ children }}
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ node.get_absolute_url }}">
                                <span class="{{ node.icon }}"></span>{{ node.title }}</a>
                        </li>
                    {% endif %}
                {% endrecursetree %}
            </ul>
        </nav>

        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer>&copy; Tom Carrick 2014</footer>
    </body>
</html>
